@model IList<Object>

@{
    ViewData["Title"] = "Extrato";
}

<h1>Extrato de @ViewBag.NomePessoa</h1>

<div class="form-group">
    <a asp-action="Lista" class="btn btn-link btn-sm">Voltar</a>
</div>

<table class="table">
    <thead>
        <tr>
            <th>
                Tipo
            </th>
            <th>
                Descrição
            </th>
            <th>
                Valor
            </th>
            <th>
                Data
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var obj in Model)
        {
            if (obj is MovimentoEntrada)
            {
                MovimentoEntrada o = (MovimentoEntrada)obj;
                <tr>
                    <td class="col-1">
                        Entrada
                    </td>
                    <td class="col-1">
                        @Html.DisplayFor(modelItem => o.Descricao)
                    </td>
                    <td class="col-1">
                        @Html.DisplayFor(modelItem => o.Valor)
                    </td>
                    <td class="col-1">
                        @Html.DisplayFor(modelItem => o.DataEntrada)
                    </td>
                </tr>
            }
            else if (obj is MovimentoSaida)
            {
                MovimentoSaida o = (MovimentoSaida)obj;
                <tr>
                    <td class="col-1">
                        Saida
                    </td>
                    <td class="col-1">
                        @Html.DisplayFor(modelItem => o.Descricao)
                    </td>
                    <td class="col-1">
                        @Html.DisplayFor(modelItem => o.Valor)
                    </td>
                    <td class="col-1">
                        @Html.DisplayFor(modelItem => o.DataSaida)
                    </td>
                </tr>
            }
        }
    </tbody>
</table>
