@model IList<Object>

@{
    ViewData["Title"] = "Extrato";
}


<h1>Extrato de @ViewBag.NomePessoa</h1>

<div class="form-group">
    <a asp-action="Lista" class="btn btn-link btn-sm">Voltar</a>
</div>
<div>
    <h6>Saldo anterior : R$ @ViewBag.SaldoAnterior</h6>
</div>


<div class="row w-100">
    <div class="col-md-3">
        <div class="form-group">
            <label for="opcao">Filtrar:</label>
            <select class="form-control" id="opcao" name="opcao">
                <option value="1">Últimos 7 dias</option>
                <option value="2">Últimos 15 dias</option>
                <option value="3">Últimos 30 dias</option>
                <option value="0">Personalizado</option>
            </select>
        </div>
    </div>
    <div class="col-md-6" id="periodo" style="display:none;">
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label for="dataInicio">Data Início:</label>
                    <input type="date" class="form-control" id="dataInicio" name="dataInicio" />
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label for="dataFim">Data Fim:</label>
                    <input type="date" class="form-control" id="dataFim" name="dataFim" />
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-3 d-flex justify-content-start align-items-center pt-3">
        <div class="form-group justify-content-start pt-3">
            <label for="botao"></label>
            <button name="botao" type="submit" class="btn btn-outline-info btn-sm" style="height: 38px;">Filtrar</button>
        </div>
    </div>
</div>

<hr />
<div>
    <table class="table table-bordered">
        <thead class="thead-light">
            <tr>
                <th class="col-2 text-center">Data Movimento</th>
                <th class="col-5 text-center">Descrição</th>
                <th class="col-1 text-center">Tipo(E/S)</th>
                <th class="col-2 text-center">Valor</th>
                <th class="col-2 text-center">Saldo</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var obj in Model)
            {
                if (obj is MovimentoEntrada)
                {
                    MovimentoEntrada o = (MovimentoEntrada)obj;
                    <tr>
                        <td class="text-center">
                            @Html.DisplayFor(modelItem => o.DataEntrada)
                        </td>
                        <td class="text-center">
                            @Html.DisplayFor(modelItem => o.Descricao)
                        </td>
                        <td class="text-center">
                            E
                        </td>
                        <td class="text-center">
                            @Html.DisplayFor(modelItem => o.Valor)
                        </td>
                        <td class="text-center">
                            @Html.DisplayFor(modelItem => o.Pessoa.Saldo)
                        </td>
                    </tr>
                }
                else if (obj is MovimentoSaida)
                {
                    MovimentoSaida o = (MovimentoSaida)obj;
                    <tr>
                        <td class="text-center">
                            @Html.DisplayFor(modelItem => o.DataSaida)
                        </td>
                        <td class="text-center">
                            @Html.DisplayFor(modelItem => o.Descricao)
                        </td>
                        <td class="text-center">
                            S
                        </td>
                        <td class="text-center">
                            @Html.DisplayFor(modelItem => o.Valor)
                        </td>
                        <td class="text-center">
                            @Html.DisplayFor(modelItem => o.Pessoa.Saldo)
                        </td>
                    </tr>
                }
            }
        </tbody>
    </table>
</div>
<div class="d-flex justify-content-end">
    <h6>Saldo final : R$ @ViewBag.SaldoFinal</h6>
</div>

@section Scripts {
    <script>
        var opcao = document.getElementById("opcao");
        var periodo = document.getElementById("periodo");

        opcao.addEventListener("change", function () {
            if (opcao.value == 0) {
                periodo.style.display = "block";
            } else {
                periodo.style.display = "none";
            }
        });
    </script>
}
