@model IEnumerable<DesafioCarteira.Models.Pessoa>

@{
    ViewData["Title"] = "Lista";
}

<h1>Clientes</h1>

<p>
    <a asp-action="Cadastrar" class="btn btn-outline-success btn-sm">Novo Cliente</a>
</p>
<table class="table table-hover">
    <thead>
        <tr>
            <th >
                @Html.DisplayNameFor(model => model.Nome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Minimo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Saldo)
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Minimo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Saldo)
            </td>
            <td class="col-1">
                <a asp-controller="Pessoa" asp-action="Update" asp-route-pessoaId="@item.PessoaId" class="btn btn-outline-info btn-sm">Atualizar</a>
            </td>
            <td class="col-1">
                <a asp-controller="Pessoa" asp-action="Extrato" asp-route-pessoaId="@item.PessoaId" class="btn btn-outline-info btn-sm">Extrato</a> 
            </td>
            <td class="col-1">
                <form asp-controller="Pessoa" asp-action="Delete" asp-route-pessoaId="@item.PessoaId" onsubmit="return confirm('Excluir @item.Nome?')">
                    <button type="submit" class="btn btn-outline-danger btn-sm">Delete</button>
                </form>
            </td>
        </tr>
}
    </tbody>
</table>
