@model IList<Object>

@{
    double? saldo = ViewBag.Saldo;
}

@if (TempData["TagSaldoAnteior"] != null)
{
    <div>
        <h6>Saldo anterior: @ViewBag.Saldo</h6>
    </div>
}

<table class="table table-bordered">
    <thead class="thead-light">
        <tr>
            <th class="col-2 text-center">Data Movimento</th>
            <th class="col-5 text-center">Descrição</th>
            <th class="col-1 text-center">Tipo(E/S)</th>
            <th class="col-2 text-center">Valor</th>
            <th class="col-2 text-center">Saldo</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var obj in Model)
        {
            if (obj is MovimentoEntrada)
            {
                MovimentoEntrada o = (MovimentoEntrada)obj;
                saldo += o.Valor;
                <tr>
                    <td class="text-center">
                        @Html.DisplayFor(modelItem => o.DataEntrada)
                    </td>
                    <td class="text-center">
                        @Html.DisplayFor(modelItem => o.Descricao)
                    </td>
                    <td class="text-center">
                        E
                    </td>
                    <td class="text-center">
                        R$ @Html.DisplayFor(modelItem => o.Valor)
                    </td>
                    <td class="text-center">
                        R$ @Html.DisplayFor(modelItem => saldo)
                    </td>
                </tr>
            }
            else if (obj is MovimentoSaida)
            {
                MovimentoSaida o = (MovimentoSaida)obj;
                saldo -= o.Valor;
                <tr>
                    <td class="text-center">
                        @Html.DisplayFor(modelItem => o.DataSaida)
                    </td>
                    <td class="text-center">
                        @Html.DisplayFor(modelItem => o.Descricao)
                    </td>
                    <td class="text-center">
                        S
                    </td>
                    <td class="text-center">
                        R$ @Html.DisplayFor(modelItem => o.Valor)
                    </td>
                    <td class="text-center">
                        R$ @Html.DisplayFor(modelItem => saldo)
                    </td>
                </tr>
            }
        }
    </tbody>
</table>

<div class="d-flex justify-content-end">
    <h6>Saldo final: R$ @saldo</h6>
</div>